body {
  margin: 0px;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  margin: 0%;
  width: 100%;
  height: 100px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #FCF6F5;
  background-color: #f8edeb;
}

header .header-amigurumis {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10px;
}

header .header-amigurumis:hover {
  border-bottom: 2px solid #ec56a9;
}

header .header-amigurumis img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

header a {
  text-decoration: none;
  color: black;
}

header .header-accesorios {
  margin: 10px;
}

header .header-accesorios img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

header .header-accesorios:hover {
  border-bottom: 2px solid #ec56a9;
}

header .header-logo {
  -ms-flex-line-pack: center;
      align-content: center;
}

header .header-logo-img {
  margin-top: 18px;
}

.main_texto {
  margin-left: 2px;
  font-size: 20px;
}

.header_menu {
  margin-right: 50px;
  margin-left: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu:hover ul, ul :hover {
  display: block;
}

.header_menu ul {
  display: none;
  position: absolute;
  list-style: none;
  text-align: right;
  padding: 0px;
  margin-left: 8px;
  margin-top: 0px;
}

.header_menu_lista {
  margin-left: 5px;
  margin-bottom: 2px;
}

.header_menu li {
  margin: 10px 2px;
}

.header_menu li a {
  color: black;
  text-decoration: none;
}

.header_menu li a:hover {
  text-decoration: underline;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel_container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 20px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 25px;
  background-color: blueviolet;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  overflow: hidden;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.carousel_container:hover .carousel-item {
  opacity: 0.3;
}

.carousel_container .carousel-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: absolute;
  bottom: 0%;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  header .header-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: logo;
    text-align: center;
  }
  header .header-logo img {
    margin: 0;
    width: 180px;
  }
  header .header-accesorios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: accesorios;
    text-align: center;
    margin: 0px 10px;
  }
  header .header-accesorios img {
    height: 30px;
    width: 30px;
  }
  header .header-amigurumis {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: amigurumis;
    margin-top: 0;
    margin: 0px 10px;
  }
  header {
    font-size: 13px;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 50px 50px;
        grid-template-rows: 50px 50px;
        grid-template-areas: "logo logo logo logo" "accesorios accesorios amigurumis amigurumis";
  }
  header .header-amigurumis img {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */